html,body{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}

#root{
  display: flex;
  background-color: #2e2e2e;
  flex-direction: column;
  height: 100%;
}
